# make a copy of this file with name config.yaml and
# fill in the correct values in current computer
# 
# config.yaml is ignored by git

# path to dropbox folder
dropbox: '<path to dropbox folder>/Scene_Segmentation/'

# whether GPU is used
GPU: true
